@charset "utf-8";
@import "gridle/gridle";
@import "mixins/fonts";

@include gridle_setup((context: 12, gutter-width: 3rem));
@include gridle_register_state ( mobile, (max-width: 915px));
@include gridle_generate_classes();

@mixin center_box() {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  @include font-opensans;
  font-size: 16px;
  line-height: 21px;
  color: #666;
}

h1, h2, h3, h4, h5 {
  @include font-signika;
}

header {

  // tinted background image with pure css
  background: url(/images/green-paper-background.jpg);

  padding: 3rem 1.5rem 3rem;
  line-height: 35px;

  .logo {
    display: block;
    width: 213px;
    margin: 0px auto 1rem;
    text-align: center;
  }

  .headline {
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin: 0px;
  }

}

.vision {
  font-size: 25px;
  padding: 3rem;
  line-height: 1.3em;
  text-align: center;
  margin: 0 auto;
  @include font-signika;
}

.about {
  @include gridle_container();
  @include center_box();
  text-align: center;
  padding: 4rem 0;
}

.about-cell {
  @include gridle(4);
  @include gridle(12, "mobile");
  margin-bottom: 1.5rem;
}

.about-avatar {
  border: 1px solid #DDD;
  width: 180px;
  height: 180px;
  margin: 0px auto 1rem;
  -webkit-border-radius: 50%; /* Can also be 55px */
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.about-avatar .round-image {
  width: 170px;
  height: 170px;
  margin: 5px;
  -webkit-border-radius: 50%; /* Can also be 50px */
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.about-name {
  margin: 0;
  margin-bottom: 0.5rem;
}

.about-teaser {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.about-description {
  margin: 0;
  font-size: 13px;
}

.imprint {
  color: #BBB;
  @include gridle_container();
  @include center_box();
  font-size: 14px;

  .imprint-title {
    @include gridle(12);
    font-size: inherit;
  }

  .imprint-responsible {
    @include gridle(4);
  }
}
