@charset "utf-8";
@import "gridle/gridle";
@import "mixins/fonts";
@import "settings/colors";

@include gridle_setup((context: 12, gutter-width: 3rem));
@include gridle_register_state ( mobile, (max-width: 915px));
@include gridle_generate_classes();

@mixin center_box() {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  @include font-opensans;
  font-size: 16px;
  line-height: 21px;
  color: $text-color;
  padding-bottom: 3rem;
}

h1, h2, h3, h4, h5 {
  @include font-signika;
  margin: 0;
}

a:link, a:visited {
  color: $link-color;
}

header {

  // tinted background image with pure css
  background: url(/images/green-paper-background.jpg);

  padding: 3rem 1.5rem 3rem;
  margin-bottom: 3rem;
  line-height: 35px;

  .logo {
    display: block;
    width: 213px;
    margin: 0px auto 1rem;
    text-align: center;
  }

  .headline {
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin: 0px;
  }

}

section {
  margin: 0 auto 5rem;
}

.vision {

  text-align: center;

  h2 {
    font-size: 22px;
    line-height: 1.5em;
  }

}

.about,
.services {
  @include gridle_container();
  @include center_box();
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

.cell {
  @include gridle(4);
  @include gridle(12, "mobile");
  margin-bottom: 1.5rem;

  img {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

}


.about-avatar {
  border: 1px solid #BBB;
  width: 180px;
  height: 180px;
  margin: 0px auto 1rem;
  -webkit-border-radius: 50%; /* Can also be 55px */
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.about-avatar .round-image {
  width: 170px;
  height: 170px;
  margin: 5px;
  -webkit-border-radius: 50%; /* Can also be 50px */
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.about-name {
  margin: 0;
  margin-bottom: 0.5rem;
}

.about-teaser {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.about-description {
  margin: 0;
  font-size: 13px;
}

.references {
  @include gridle_container();
  @include center_box();
  padding: 0 0 3rem;

  > h2, > p {
    text-align: center;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  > p {
    margin: 0 0 1.5rem;
  }
}

.references-projects {
  margin: 0;
  padding: 0;
}

.references-project {
  @include gridle(4);
  @include gridle(12, "mobile");
  margin-bottom: 1.5rem;

  img {
    border: 1px solid #DDD;
    width: 310px;
    height: 140px;
    padding: 5px;
  }

  p {
    font-size: 13px;
  }
}

.contact {
  font-size: 22px;
  line-height: 1.5em;
  text-align: center;
  @include font-signika;
}

.imprint {
  color: #BBB;
  @include gridle_container();
  @include center_box();
  font-size: 14px;

  .imprint-title {
    margin: 0px;
    @include gridle(12);
    font-size: inherit;
    text-align: center;
  }

  .imprint-name {
    font-weight: 600;
    color: #999;
  }

  .imprint-responsible {
    @include gridle(4);
    @include gridle(12, "mobile");
    text-align: center;
  }

}

.service-cell {
  h2, h3, h4 {
    margin-bottom: 1.5rem;
  }

  .service-icon img{
    height: 155px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }
}
