---
title: Wirsing – Software für eine bessere Zukunft
---

%header
  %img(src="/images/wirsing-logo-vertical-white.svg" alt="Wirsing Logo" class="logo")
  %h1.headline Software für eine bessere Zukunft

%section.vision
  Wir unterstützen Unternehmen, die sich aktiv für eine bessere Zukunft einsetzen.
  %br
  Durch unsere Arbeit fördern wir sinnvolle Projekte für die Menschheit.

%section.about
  = partial :team_member, locals: { id: 'clemens',
    name: 'Clemens Helm',
    job: 'Backend Developer',
    description: 'Clemens entwickelt Software erster Klasse. Viele seiner Apps sind bereits jahrelang erfolgreich im Einsatz. Hier bei Wirsing lebt er auch seine anderen Leidenschaften: Marketing, Planung und Unternehmertum.' }
  = partial :team_member, locals: { id: 'aaron',
    name: 'Aaron Cruz',
    job: 'Mobile &amp; Web Development',
    description: 'Aaron baut native iOS- und Android-Apps und die APIs dafür. Nebenbei organisiert er ein paar Meetup-Gruppen in Wien. Wenn man anfängt, mit ihm über Essen zu reden, könnte es sein, dass er nie wieder aufhört.' }
  = partial :team_member, locals: { id: 'dominik',
    name: 'Dominik Guzei',
    job: 'Design &amp; Frontend Development',
    description: 'Für Dominik sind Design und Programmierung keine getrennten Konzepte, sondern zwei spannende Möglichkeiten, die Welt kreativ zu gestalten. Seine Spezialität sind dabei moderne interaktive Applikationen für das Web.' }

%section.references
  %h2 Referenzen
  %p Wirsing steckt noch in den Kinderschuhen. In der Vergangenheit haben die Gründer aber schon einige erfolgreiche Projekte verwirklicht:
  %ul.references-projects
    %li.references-project
      %a(href="https://www.codeship.com/")
        %img(src="images/references/codeship.png")
      %h3 Codeship
      %p
        %a(href="https://www.codeship.com/") Codeship
        zählt zu den erfolgreichsten österreichischen StartUps.
        Clemens war für die Entwicklung der Web-Applikation verantwortlich
        und leitete das Entwickler-Team.

    %li.references-project
      %a(href="http://www.mindster.org/")
        %img(src="images/references/mindster.png")
      %h3 Mindster
      %p
        Aaron unterstützte
        %a(href="http://www.mindster.org/") Mindster
        dabei, ein
        %a(href="http://en.wikipedia.org/wiki/Minimum_viable_product") "Minimum viable product"
        zu erstellen. Heute zählt Mindster zu den erfolgreichsten Plattformen
        zur Vermittlung von kreativen Talenten.

    %li.references-project
      %a(href="http://www.codeadventure.com/prisma")
        %img(src="images/references/prisma.png")
      %h3 Prisma
      %p
        Dominik entwickelte mit
        %a(href="http://www.codeadventure.com/prisma") Prisma
        ein Werkzeug, mit dem Grafik-Designer Farben zwischen verschiedenen Projekten
        synchronisieren können.


%section.contact
  Schreiben Sie uns! Wir freuen uns über Post an #{mail_to 'hallo@wirsing.io'}.

%section.imprint
  %h2.imprint-title Verantwortlich für den Inhalt:

  %p.imprint-responsible
    %span.imprint-name Clemens Helm
    %br
    Hietzinger Hauptstraße 99A/3
    %br
    1130 Wien

  %p.imprint-responsible
    %span.imprint-name Aaron Cruz
    %br
    Weidlingbachgasse 14
    %br
    3411 Weidling

  %p.imprint-responsible
    %span.imprint-name Dominik Guzei
    %br
    Goethestrasse 27
    %br
    2230 Gänserndorf
