---
title: wirsing.io
---

<header class="jumbotron">
  <img src="/images/wirsing-logo.png" alt="" class="jumbotron-logo" />
  <h1 class="jumbotron-headline">Kickass Interactive Data Visualizations</h1>
</header>
<section class="about">
  <div class="about-cell">
    <div class="about-avatar">
      <img src="http://api.randomuser.me/portraits/men/11.jpg" alt="" class="avatar-image round-image" />
    </div>
    <h3 class="about-name">Clemens Helm</h3>
    <h4 class="about-teaser">Backend Development</h4>
    <p class="about-description">
      Schon vor seiner Informatik-Ausbildung an der TU Wien entwickelte Clemens Web-Applikationen als selbständiger Software-Entwickler. Am wichtigsten ist ihm dabei, dass die Qualität stimmt: Viele seiner Apps sind bereits jahrelang erfolgreich im Einsatz.

      In seiner selbstständigen Tätigkeit entdeckte Clemens auch seine Leidenschaft für Marketing, Planung und Unternehmertum.

      Wenn Clemens nicht gerade auf einem Board durch die Weltgeschichte gleitet, versucht er möglicht viel Zeit mit seinem Sohn und seinen Freunden zu verbringen.
    </p>
  </div>
  <div class="about-cell">
    <div class="about-avatar">
      <img src="http://api.randomuser.me/portraits/men/12.jpg" alt="" class="avatar-image round-image" />
    </div>
    <h3 class="about-name">Aaron Cruz</h3>
    <h4 class="about-teaser">Mobile & Web Development</h4>
    <p class="about-description">
      Aaron lebt in der Wiener Vorstadt, kommt aber ursprünglich aus der Vorstadt von Seattle, USA. In seinem früheren Leben war er schon Hirte, Käser und Koch. Heute baut er iOS- und Android-Apps und die APIs dafür. Nebenbei organisiert er noch ein paar Meetup-Gruppen in Wien. Wenn er auf einmal über Essen redet, hört er nie wieder auf.
    </p>
  </div>
  <div class="about-cell">
    <div class="about-avatar">
      <img src="http://api.randomuser.me/portraits/men/13.jpg" alt="" class="avatar-image round-image" />
    </div>
    <h3 class="about-name">Dominik Guzei</h3>
    <h4 class="about-teaser">Design & Frontend Development</h4>
    <p class="about-description">
      Schon während seiner Kindheit kam Dominik mit der neuesten Technologie in Kontakt und begann schon früh Computer als kreatives Werkzeug zu sehen. Design und Programmierung waren keine getrennte Konzepte für ihn, sondern zwei Möglichkeiten sich kreativ auszudrücken und die Welt zu gestalten. Später studierte er Grafikdesign und Software Entwicklung und setzt seine Erfahrung heute in moderne Web Applikationen um.
    </p>
  </div>
</section>
