---
title: Wirsing – Kickass Interactive Data Visualizations
---

<header class="jumbotron">
  <img src="/images/wirsing-logo.png" alt="" class="jumbotron-logo" />
  <h1 class="jumbotron-headline">Kickass Interactive Data Visualizations</h1>
</header>
<section class="about">
  <div class="about-cell">
    <div class="about-avatar">
      <img src="http://api.randomuser.me/portraits/men/11.jpg" alt="" class="avatar-image round-image" />
    </div>
    <h3 class="about-name">Clemens Helm</h3>
    <h4 class="about-teaser">Backend Development</h4>
    <p class="about-description">
      Clemens entwickelt hoch qualtitätive Software und viele seiner Apps sind bereits jahrelang erfolgreich im Einsatz. Hier bei Wirsing entdeckt er gerade seine Leidenschaft für Marketing, Planung und Unternehmertum. 
    </p>
  </div>
  <div class="about-cell">
    <div class="about-avatar">
      <img src="http://api.randomuser.me/portraits/men/12.jpg" alt="" class="avatar-image round-image" />
    </div>
    <h3 class="about-name">Aaron Cruz</h3>
    <h4 class="about-teaser">Mobile & Web Development</h4>
    <p class="about-description">
      Aaron baut native iOS- und Android-Apps und die APIs dafür. Nebenbei organisiert er noch ein paar Meetup-Gruppen in Wien. Wenn man anfängt mit ihm über Essen zu reden, könnte es sein dass er nie wieder aufhört. 
    </p>
  </div>
  <div class="about-cell">
    <div class="about-avatar">
      <img src="http://api.randomuser.me/portraits/men/13.jpg" alt="" class="avatar-image round-image" />
    </div>
    <h3 class="about-name">Dominik Guzei</h3>
    <h4 class="about-teaser">Design & Frontend Development</h4>
    <p class="about-description">
      Für Dominik sind Design und Programmierung keine getrennten Konzepte, sondern zwei spannende Möglichkeiten die Welt kreativ zu gestalten. Moderne interaktive Applikationen für das Web sind dabei sein Spezialgebiet. 
    </p>
  </div>
</section>
