---
title: Wirsing – Software für eine bessere Zukunft
---

%header
  %img(src="/images/wirsing-logo-vertical-white.svg" alt="Wirsing Logo" class="logo")
  %h1.headline Software für eine bessere Zukunft

%section.vision
  Wir unterstützen Unternehmen, die die Zukunft nachhaltig verändern.
  %br
  Durch unsere Software verbessern wir die Welt.

%section.about
  = partial :team_member, locals: { id: 'clemens', 
    name: 'Clemens Helm',
    job: 'Backend Developer',
    description: 'Clemens entwickelt hoch qualtitätive Software und viele seiner Apps sind bereits jahrelang erfolgreich im Einsatz. Hier bei Wirsing entdeckt er gerade seine Leidenschaft für Marketing, Planung und Unternehmertum.' }
  = partial :team_member, locals: { id: 'aaron', 
    name: 'Aaron Cruz',
    job: 'Mobile &amp; Web Development',
    description: 'Aaron baut native iOS- und Android-Apps und die APIs dafür. Nebenbei organisiert er noch ein paar Meetup-Gruppen in Wien. Wenn man anfängt mit ihm über Essen zu reden, könnte es sein dass er nie wieder aufhört.' }
  = partial :team_member, locals: { id: 'dominik', 
    name: 'Dominik Guzei',
    job: 'Design &amp; Frontend Development',
    description: 'Für Dominik sind Design und Programmierung keine getrennten Konzepte, sondern zwei spannende Möglichkeiten die Welt kreativ zu gestalten. Moderne interaktive Applikationen für das Web sind dabei sein Spezialgebiet.' }

%section.imprint
  %h2.imprint-title Verantwortlich für den Inhalt:

  %p.imprint-responsible
    Clemens Helm
    %br
    Hietzinger Hauptstraße 99A/3
    %br
    1130 Wien

  %p.imprint-responsible
    Aaron Cruz
    %br
    Weidlingbachgasse 14
    %br
    3411 Weidling

  %p.imprint-responsible
    Dominik Guzei
    %br
    Goethestrasse 27
    %br
    2230 Gänserndorf
